
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
:root{
    --primary-btn-color: #FF900E;
    --primary-color: #FFFFFF;
    --banner-bgc: rgba(255, 144, 14, 0.1);
    --secondary-text-color: #424242;
    --tertiary-color: #727272;
    --black-color: #131313;
    --number-color:#424242;

}

*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
header {
    background: var(--banner-bgc) ;
    width: 100%;
}

/* Navigation bar styles */
.nav-title{
    font-weight: 700;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 225px;
}
.bar_list{
    margin-top: 20px;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 18px;
    display: flex;
    list-style: none;
    gap: 20px;
}

/* Banner style */
.banner-container{
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;   
}
.common-details{
    color: var(--tertiary-color);
    margin-bottom: 30px;
}
.btn-primary{
    font-weight: 600;
    font-size: 20px;
    padding: 23px;
    border-radius: 5px;
    background-color: var(--primary-btn-color) ;
    border: none;
    color: var(--primary-color) ;
    margin-top: 35px;
}
.banner-image {
    width: 70%;
    margin-top: 50px;
    padding-bottom: 30px;
}
/* main */
main ,footer{
    max-width: 1150px;
    /* width: 100%; */
    margin: 0 auto;
}

/* list of features styling */

.feature-start > h3{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 24px;
}
.first {
    color: var(--tertiary-color);
}
.second{
    color: var(--black-color);
}
.last{
    color: var(--primary-btn-color);
}
.feature-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    width: 50%;
    margin-left: 170px;
    margin-top: 40px;
}
.feature-start-container{
    display: flex;
    align-items: center;
}
.grid-image{
    /* width: 200px;
    height: 200px */
    width: 100%;
    height: 100%;
}
.feature-start{
    margin-left: 65px;
    margin-right: 200px;
    width: 50%;
}

/* feature-list styling */

.list-title{
    border-left: 3px solid var(--primary-btn-color);
    font-weight: 700;
    font-size: 45px;
    padding-left: 20px;
    margin-bottom: 24px;
}
.feature-list-container{
    display: flex;
    margin-top: 120px;
    /* max-width: 1100px; */
    /* width: 100%; */
    /* margin: 120px auto; */
    
}
.feature{
    margin: 20px;
    padding: 30px;

}
.feature-title{
    font-weight: 600;
    font-size: 20px;
    color: var(--black-color);
    margin-bottom: 10px;
}
.feature-details{
    font-weight: 400;
    font-size: 16px;
    color: var(--tertiary-color);
    text-overflow:ellipsis;
}
.btn-secondary{
    width: 250px;
    padding: 30px;
    border-radius: 5px;
    border-style: none;
    font-weight: 700;
    font-size: 30px;
    color: var(--primary-color);
    background-color: var(--primary-btn-color);
    position: relative;
    bottom: 90px;
}
.exp{
    font-size: 15px;
}
.facts{
    /* max-width: 1100px; */
    margin: 0 auto;
}
.fact-title{
    font-weight: 700;
    font-size: 45px;
    color: var(--black-color);
    margin-bottom: 20px;
}
.fact-details{
    font-weight: 400;
    font-size: 16px;
    color: var(--tertiary-color);
    margin-bottom: 100px;
}
.mega-borders{
    display: flex;
    gap: 125px;
    margin-left: 20px;
    margin-bottom: 130px;
}
.border:hover{
    position: relative;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-play-state: running;
    cursor: pointer; 
    background-color: crimson;
    transition: all 1s; 
    border-radius: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.border{
    border: 1px solid var(--primary-btn-color);
    padding-top:40px;
    border-radius: 5px;
    width: 250px;
    height: 200px;
    text-align: center;

}
.number{
    font-weight: 600;
    font-size: 35px;
    color: var(--number-color);
    padding: 7px 0px;
}
.number-details{
    font-weight: 600;
    font-size: 13px;
    color: var(--tertiary-color);
}

/* footer styles */

.logos{
    display: flex;
    gap: 70px;

}
.logo{
    margin-right: 10px;
    mix-blend-mode: luminosity;
}

.footer-title{
    font-weight: 700;
    font-size: 45px;
    color: var(--black-color);
    text-align: center;
}
.footer-details{
    font-weight: 400;
    font-size: 16px;
    color: var(--tertiary-color);
    text-align: center;
    margin: 24px 0px;
}
.last-part{
    border: 1px;
    background: #FFF4E7;
    /* margin-top:80px; */
    margin-bottom: 100px;
    margin-top: 20px;
}
.copyrights{
    padding: 38px 200px;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary-text-color);
    text-align: center;
    
}

/* responsive styles */

@media  only screen and (max-width:576px) {
    nav{
        flex-direction: column;
        padding: 50px 0px;
        align-items: center;  
    }
    .banner-image,.feature-list-image>img{
        width: 100%;
    }
    .feature-image-container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 0px;
        width: 70%;
        margin-bottom: 20px;
    }
    .feature-start-container {
        flex-direction: column;
        
    }
    .feature-list-container{
        flex-direction: column;
    }
    .feature-start{
        text-align: center;
        margin: 0px auto;
    }
    .facts{
        text-align: center;
        margin-bottom: 15px;
    }
    .mega-borders{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .logos{
        flex-direction: column;
        align-items: center;
    }
    .last-part{
        margin: 0px;
    }
    .last-part > .copyrights{
        max-inline-size: 10px;
    }
    .feature-list-container{
        margin-left: 8px;
    }
    .copyrights{
        height: 500px;
       
    }
}
@keyframes bounce {
    0% {
    
        transform: translateY(0); 
    }
    50%  { 

        transform: translateY(-50px);
     }
    100% { 

        transform: translateY(0);
     }
  }       

